<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |f| %>
<h2><%= f.movie.title %></h2>
<%= image_tag(f.movie.poster_url, {:style => "width:200px;"}) %>
<h2><%= f.comment %></h2>
<% end %>
<h3><%= link_to "return to lists", lists_path %></h3>